# Backend
/backend/*.log
/backend/*.tmp

# Frontend
/frontend/node_modules/
/frontend/dist/

# macOS
.DS_Store

# Logs
*.log
*.tmp

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# System files
Thumbs.db
